*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    width: 100%;
    height: 20%;
    background: #B6D96C;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.bory{
    font-family: 'DynaPuff', cursive;
}

.cabecalho-imagem{
    width: 20%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 100%;
}
.Onívora{
    background-image: linear-gradient(#B6D96C,#72A603);
    display: flex;
}
.Onívora-div-conteudo{
    width: 25%;
}
.Vegetarianismo{
    background-image: linear-gradient(#72A603,#72A603);
    display: flex;
}
.Vegetarianismo-div-conteudo{
    width: 50%;
}
.Veganismo{
    background-image: linear-gradient(#72A603,#4F7302);
    display: flex;
}
.Veganismo-div-conteudo{
    width: 75%;
}